<div class="splash-screen">
    <img src="/app/images/ruflix.png" class="ruflix">
    <animated-logo></animated-logo>
    <p ng-show="vm.connectionProblem" style="color:yellow">{{'NETWORK_ERROR' | translate}}</p>
    <p ng-show="vm.error" style="color:red">{{'ERROR' | translate}}</p>

</div>