md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}

md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-sidenav {
    fill: #737373;
}

md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.category-avatar {
    border-radius: 99%;
}

.icon-close {
    cursor: pointer;
}

.splash-screen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: table;
}

/*https://github.com/google/material-design-icons/issues/206*/
/*.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}*/

.torrentItem {
    outline: none;
}

md-content {
    background-color: #ECEFF1 !important;
    padding: 30px;
}

.selected-item ~ .item .category,
.item:first-child .category {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.selected-item ~ .item .category.selected,
.item:first-child .category.selected {
    margin-top: 0;
}

.item:last-child .category {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.item .tile .folded {
    cursor: pointer;
}

.item .category {
    background-color: white;
    transition: all 500ms;
}

.item .category h3,
.item .category p {
    transition: all 500ms;
}

.item .category p {
    opacity: 1;
    height: inherit;
}

.item .category p.ng-hide {
    opacity: 0;
    height: 0;
}

.item .category.selected {
    margin: 30px -15px;
    border-radius: 2px;
}

.item .category.selected .expanded {
    visibility: visible;
}

.item .category.selected .expanded,
.item .category.selected .expanded > * {
    max-height: 700px;
    opacity: 1;
}

.item .category.selected .expanded .md-label {
    border: hidden;
}

.item .category.selected h3 {
    font-size: 1.8em;
}

.item .category .expanded {
    visibility: hidden;
}

.item .category .expanded,
.item .category .expanded > * {
    max-height: 0;
    opacity: 0;
    transition: all 500ms;
}

.item .category .expanded .split {
    padding: 10px;
}

.item .category .face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 16px;
}

.md-avatar {
    background-color: #d8d8d8;
}

.menu-toggle-list {
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
    height: auto;
}

.menu-toggle-list.collapsed {
    max-height: 0px;
}

.menu-toggle-list.expanded {
    max-height: 2000px;
}

.docs-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.no-padding {
    padding: 0 !important;
    min-width: 1px!important;
    min-height: 1px!important;
}
.player md-icon {
    color: #636363!important;
    fill: #636363!important;
    margin-left: 5px;
    margin-right: 5px;
}
.oneLine {
    display: inline-block;
}
.closeTab {
    cursor: pointer;
}

md-toolbar.md-default-theme.player:not(.md-menu-toolbar), md-toolbar.player:not(.md-menu-toolbar) {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    z-index: 100;
}

.player-right ng-md-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.md-button.md-small {
    min-width: 1%;
    min-height: 1%;
}

.cursor {
    cursor: pointer;
}

.current-track {
    color: green;
}

.card-title-text {
    height:35px;
    text-overflow:ellipsis;
}
.card-img {
    width: 100%;
    height: 40px;
    /*float: left;*/
}

.videoInsert {
    width: 100%;
    max-height: 70vh;
}

md-icon svg {
    fill: inherit;
}
.hoverEffect {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hoverEffect:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 0;
    cursor: pointer;

}
.torrentSelected > md-card {
    transform: scale(0.9, 0.9);
    background-color: #dddddd;

}

.torrentCaption {
    float: left;
    margin-left: 10px;
    font-size: 12px;
}

.torrentImage {
    width: 40px;
}

.torrentTitle {
    text-overflow: ellipsis;
    max-height: 2.5em!important;
    overflow:hidden;
}

.inputs {
    margin-right: 20px;
    margin-left: 20px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: table-cell;
    margin-top: 250px;
    width: 220px;
    z-index: 1;
    position: absolute;
    top:0; bottom:0; left:0; right:0;
}
.logo {
    border-radius: 50%;
    background-color: #a21606;
}

.ruflix {
    margin-left: auto;
    width: 175px;
    margin-right: auto;
    vertical-align: middle;
    display: table-cell;
    z-index: 2;
    position: absolute;
    margin-top: 347px;
    top:0; bottom:0; left:0; right:0;

}
.loginBox > md-content {
    overflow: hidden;
}

.searchContainer > p {
    width: 100%;

    float: left;
}

.searchForm md-input-container{
    margin-bottom: 0px;
    width: 1350px;
}
.searchButton {
    float: right;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

.toolbarContent {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
